/* Body Styling */
body {  
    font-family: 'Lato', sans-serif;
    line-height: 200%;
    width: 90%;
    color: #EAE0C8;
    background-color: #536878;
    height: 100%;
    margin: auto;
    background-position: center;
}
img {
    text-align: center;
    padding-left: 25px;
}
h3 {
    padding-left: 10px;
}
a {  
    text-decoration: underline;
    color: #EAE0C8;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-size: 2.5em;
    text-align: center !important;
}
h2 {
    font-family: 'Noto Serif', serif;
    margin-bottom: -10px;
    border-bottom: 2px double #EAE0C8;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.projects { 
    display:flex !important; 
    flex-wrap:wrap !important; 
    margin-top: 10px;
} 
.project {
    width: 30% !important;
    margin: 10px !important;
    padding: 20px 10px !important;
    background: #273b4a !important;
}
.about p {
    border-left: 4px solid #EAE0C8;
    padding-left: 10px;
    margin-left: 5px;
}
.skills p {
    border-left: 4px solid #EAE0C8;
    padding-left: 10px;
    margin-left: 5px;
}
.projects p {
    border-left: 4px solid #EAE0C8;
    padding-left: 10px;
    margin-left: 25px;
}
