/* Body Styling */
body {  
    font-family: 'Lato', sans-serif;
    line-height: 200%;
    width: 90%;
    color: #EAE0C8;
    background-color: #536878;
    height: 100%;
    margin: auto;
    background-position: center;
}
h1 {
    font-family: 'Noto Serif', serif;
    font-size: 2.5em;
    text-align: center !important;
}
h2 {
    font-family: 'Noto Serif', serif;
    margin-bottom: -10px;
    border-bottom: 2px double white;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.about {
    border-left: 4px solid #EAE0C8;
}
